{% extends "index.html" %}
{% block content %}
<h2>roblog</h2>
<div class="row">
    <a href="{% url 'dashboard' %}">Back to Dashboard</a><br/><br/>
    <div class="small-12 columns">
    	<form method="POST">
    		{% csrf_token %}
    		<div class="row">
    			<input name="title" value="{{article.title}}" style="width:100%" /><br/><br/>
    		</div>
    		<div class="row">
    			<textarea name="text" style="height: 500px">{{article.text}}</textarea>
    		</div>
    		<div class="row">
    			<button name="destination" value="editor">Save and stay here</button>
	        	<button name="destination" value="dashboard">Save then go back to dashboard</button>
    			<input type="hidden" name="visible" value="0" />
    			<label><input type="checkbox" value="1" name="visible" {% if article.visible %}checked{% endif %} /> Article is publicly available</label>
				<div class="danger">
    				Delete?
    				<input type="checkbox" value="yes" name="delete1" />
    				<input type="checkbox" value="yes" name="delete2" />
    				<input type="checkbox" value="yes" name="delete3" />
    			</div>
    		</div>
		</form>
    </div>
</div>
{% endblock content %}